.nav-left, .nav-fill,.nav-right{
  height: 60px;
  background: #131921;
}
.nav-fill{
  width: 100%;
  padding: 5px 0 0 0;
}

.nav-logo-link{

  height: 50px;
  width: 100%;
  flex-shrink: 0;
  text-decoration: none;
  padding: 1px 8px 0 6px;
  margin: 1px;
}
.nav-location{

  height: 50px;
  width: 100%;
  flex-shrink: 0;
  text-decoration: none;
  padding: 1px 8px 0 6px;
  margin: 1px;
}
#nav-location-slot{

  margin-left: 2px;
  width: 120px;
  padding: 0;
}
::ng-deep .no-label>.p-button-label {
  display: none;
}
.menu-bar{
  padding: 0.5rem 1rem;
  background-color: var(--surface-a);
  border-radius: 4px;
}
