
.tile::before {
  content: '';
  display: inline-block;
  padding-bottom: 100%;
}
.title{
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  user-select: none;
  border: 2px solid var(--surface-400);
  border-radius: 80px;
  padding-bottom: calc(100% - 4px);
  position: relative;
}
.unused{
  background-color:var(--unused);
  color:var(--unused-text);
}
.correct{
  background-color:var(--correct);
  color:var(--correct-text);
}
.present{
  background-color:var(--present);
  color:var(--present-text);
}
.unknown.title{
  background-color: var(--unknown);
  color: var(--unknown-text);
}
.unknown.letter-button{
  background-color: var(--unknown-letter);
  color: var(--text-color);
}
.correct.letter-button{
  background-color: var(--correct);
  color: var(--correct-text);
}
.present.letter-button{
  background-color: var(--present);
  color: var(--present-text);
}
.unused.letter-button{
  background-color: var(--unused);
  color: var(--unused-text);
}
.letter-button:enabled:focus .letter-button:enabled:hover .letter-button:enabled:visited{
  background-color:unset;
  color:unset;
  border-color: transparent;
}
.reveal{
  animation-name: tile-flip;
  animation-duration: 600ms;
}
@keyframes tile-flip {

  0% {
    background-color:var(--unknown);
  }
  50.0% {
    background-color:var(--unknown);
    transform: scale(0, 0);
  }
}
.letter-button{
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 3rem;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0,0,0,0.3);
  min-width: auto !important;
}
button:last-of-type{
  margin: 0;
}
.layout-content {
  background-color: var(--surface-b);
  color: var(--text-color);
}
.test {
  display: grid;
  grid-template-columns: repeat(5, calc(20% - 5px));
  grid-gap: 5px;
}
:host ::ng-deep {
  .p-toast-message-custom {
    background-color: var(--primary-color);
    border: var(--surface-border);
    border-width: 0 0 0 6px;
    color: var(--primary-color-text);
    .p-toast-icon-close {
      color: var(--primary-color-text);
    }
  }
  .p-toast{
    z-index: 5;
  }
}
.invalid{
  animation-name: shake;
  animation-duration: 600ms;
}
@keyframes shake {
  10%, 90%{
    transform: translate(-1px, 0);
  }
  20%, 80%{
    transform: translate(2px, 0);
  }
  30%, 50%, 70%{
    transform: translate(-4px, 0);
  }
  40%, 60%{
    transform: translate(4px, 0);
  }
}
.board{
  display: grid;
  margin-inline: auto;
  grid-gap: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
}
@media (min-width: 540px) {
  .board
  {
    width: 80%;
  }
  .tile{
    font-size: 3rem;
  }
}
@media (max-width: 540px) {
  .board
  {
    width: 70%;
  }
  .tile{
    font-size: 2rem;
  }
}
@media (max-width: 400px) {
  .board
  {
    width: 70%;
  }
  .tile{
    font-size: 1.5rem;
  }
}
.box {
  position: absolute;
  height: 50%;
}
.inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 153, .8);
}
.board-container{
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
}
.book-icon{
  position: absolute;
  left: 100%;
  font-size: 1.5rem;
  top: calc(50% - 0.75rem);
  cursor: pointer
}
.tile{
  height: 100%;
  margin-right: 7px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
  user-select: none;
  border: 2px solid var(--surface-400);
  border-radius: 80px;
  position: relative;
}
.tile:last-child{
  margin-right: 0;
}
