<!-- TODO Show correct word if guessed all wrong-->
<!-- TODO Button to refresh-->
<p-toast position="top-center" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <h2 style="margin: 0">{{message.summary}}</h2>
        <span [innerHTML]="message.detail"></span>
      </div>
    </div>
  </ng-template>
</p-toast>
<div class="flex flex-column layout-content h-full" style="justify-content: space-between;
    max-width: 500px;
    margin-inline: auto;">
  <div class="board">
    <div id="board-row-{{row}}" style="display: grid; grid-auto-flow: column; grid-gap: 5px; position: relative"
         class="test"
         *ngFor="let rowGuess of guesses; let row = index">
      <i class="fa-solid fa-book" *ngIf="currentGuess > row" style="position: absolute; left: 100%; font-size: 1.5rem; top: calc(50% - 0.75rem); cursor: pointer" (click)="getDefinition(guessedWords[row])"></i>
      <div class="title " [ngClass]="{
                'present': guessResults[row][col] === 'present',
                'correct': guessResults[row][col] === 'correct',
                'unused': guessResults[row][col] === 'unused',
                'unknown': guessResults[row][col] === 'unknown',
                'reveal': guessResults[row][col] !== 'unknown'}"
           *ngFor="let guess of rowGuess; let col = index">
        <span style="position: absolute; top: calc(50% - 10px); width: 100%; text-align: center">{{guess}}</span>
      </div>
    </div>
  </div>
  <div id="keyboard" style="width: 100%">
    <div class=""
         style="margin: 0 auto 8px; display: flex; width: 100%; touch-action: manipulation">
      <button pButton *ngFor="let key of [].constructor(10); let i = index"
              (click)="handleKeyPress(keyboardKeys[i])" class="letter-button {{keyboardResults[i]}}"
              label="{{keyboardKeys[i] | uppercase}}"></button>
    </div>
    <div class=""
         style="margin: 0 auto 8px; display: flex; width: 100%; touch-action: manipulation">
      <div style="flex: .5"></div>
      <button pButton *ngFor="let key of [].constructor(9); let i = index"
              (click)="handleKeyPress(keyboardKeys[i+10])"
              class="letter-button {{keyboardResults[i+10]}}"
              label="{{keyboardKeys[i+10] | uppercase}}"></button>
      <div style="flex: .5"></div>
    </div>
    <div class=""
         style="margin: 0 auto 8px; display: flex; width: 100%; touch-action: manipulation">
      <button pButton class="letter-button unknown" label="ENTER" (click)="handleKeyPress('enter')"
              style="flex: 1.5"></button>
      <button pButton *ngFor="let key of [].constructor(7); let i = index"
              (click)="handleKeyPress(keyboardKeys[i+19])"
              class="letter-button {{keyboardResults[i+19]}}"
              label="{{keyboardKeys[i+19] | uppercase}}"></button>
      <button pButton class="letter-button unknown" icon="fa fa-delete-left"
              (click)="handleKeyPress('backspace')" style="flex: 1.5"></button>
    </div>
  </div>
</div>
