<div class="menu-bar">
    <div style="display: flex">
        <div class="flex justify-content-start align-items-center menu-side" style="">
            <button (click)="displayHelp()" class="p-button-rounded p-button-text" icon="fa fa-circle-question" pButton
                    style="font-size: 2rem"></button>
        </div>
        <div class="flex justify-content-center align-items-center menu-main-text"
             style="margin-inline: auto; text-align: center">
      <span [routerLink]="'/'" class="main-text">
        CS-351 Final Project
      </span>
        </div>
        <div class="flex justify-content-end align-items-center menu-side">
            <button (click)="leaveGame($event)" class="p-button-rounded " label="Leave Game" pButton></button>
        </div>
    </div>
</div>
<p-dialog [(visible)]="displayHowTo" [breakpoints]="{'500px': '100vw'}" [draggable]="false" [modal]="true"
          [resizable]="false"
          [style]="{width: '500px'}" header="How To Play">
    <div class="mb-4" style="border-bottom: 1px solid gray">
        <div class="mb-2">
            <span>You must guess the word in six tries.</span>
        </div>
        <div class="mb-2">
            <span>Every guess must be a valid word in our word list.</span>
        </div>
        <div class="mb-2">
            <span>After every guess, the tiles will change colors depending on their correctness.</span>
        </div>
    </div>
    <div style="border-bottom: 1px solid gray">
        <div class="mb-3 text-xl">
            <span>Examples</span>
        </div>
        <div class="mb-2" style="display: flex; position: relative; font-weight: bold; font-size: 1.5rem">
            <div class="correct mr-2"
                 style="position: relative; width: 40px; height: 40px; border: 2px solid var(--surface-400); border-radius: 40px;">
                <span style="position: absolute; top: calc(50% - 13.5px); width: 100%; text-align: center">C</span>
            </div>
            <div class="unknown mr-2"
                 style="position: relative; width: 40px; height: 40px; border: 2px solid var(--surface-400); border-radius: 40px;">
                <span style="position: absolute; top: calc(50% - 13.5px); width: 100%; text-align: center">R</span>
            </div>
            <div class="unknown mr-2"
                 style="position: relative; width: 40px; height: 40px; border: 2px solid var(--surface-400); border-radius: 40px;">
                <span style="position: absolute; top: calc(50% - 13.5px); width: 100%; text-align: center">U</span>
            </div>
            <div class="unknown mr-2"
                 style="position: relative; width: 40px; height: 40px; border: 2px solid var(--surface-400); border-radius: 40px;">
                <span style="position: absolute; top: calc(50% - 13.5px); width: 100%; text-align: center">D</span>
            </div>
            <div class="unknown mr-2"
                 style="position: relative; width: 40px; height: 40px; border: 2px solid var(--surface-400); border-radius: 40px;">
                <span style="position: absolute; top: calc(50% - 13.5px); width: 100%; text-align: center">E</span>
            </div>
        </div>
        <div class="mb-3">
            <span>The letter C is in the word and in the correct spot</span>
        </div>
        <div class="mb-2" style="display: flex; position: relative; font-weight: bold; font-size: 1.5rem">
            <div class="unknown mr-2"
                 style="position: relative; width: 40px; height: 40px; border: 2px solid var(--surface-400); border-radius: 40px;">
                <span style="position: absolute; top: calc(50% - 13.5px); width: 100%; text-align: center">S</span>
            </div>
            <div class="present mr-2"
                 style="position: relative; width: 40px; height: 40px; border: 2px solid var(--surface-400); border-radius: 40px;">
                <span style="position: absolute; top: calc(50% - 13.5px); width: 100%; text-align: center">P</span>
            </div>
            <div class="unknown mr-2"
                 style="position: relative; width: 40px; height: 40px; border: 2px solid var(--surface-400); border-radius: 40px;">
                <span style="position: absolute; top: calc(50% - 13.5px); width: 100%; text-align: center">I</span>
            </div>
            <div class="unknown mr-2"
                 style="position: relative; width: 40px; height: 40px; border: 2px solid var(--surface-400); border-radius: 40px;">
                <span style="position: absolute; top: calc(50% - 13.5px); width: 100%; text-align: center">N</span>
            </div>
            <div class="unknown mr-2"
                 style="position: relative; width: 40px; height: 40px; border: 2px solid var(--surface-400); border-radius: 40px;">
                <span style="position: absolute; top: calc(50% - 13.5px); width: 100%; text-align: center">E</span>
            </div>
        </div>
        <div class="mb-3">
            <span>The letter P is in the word but is in the wrong spot</span>
        </div>
        <div class="mb-2" style="display: flex; position: relative; font-weight: bold; font-size: 1.5rem">
            <div class="unknown mr-2"
                 style="position: relative; width: 40px; height: 40px; border: 2px solid var(--surface-400); border-radius: 40px;">
                <span style="position: absolute; top: calc(50% - 13.5px); width: 100%; text-align: center">I</span>
            </div>
            <div class="unknown mr-2"
                 style="position: relative; width: 40px; height: 40px; border: 2px solid var(--surface-400); border-radius: 40px;">
                <span style="position: absolute; top: calc(50% - 13.5px); width: 100%; text-align: center">R</span>
            </div>
            <div class="unknown mr-2"
                 style="position: relative; width: 40px; height: 40px; border: 2px solid var(--surface-400); border-radius: 40px;">
                <span style="position: absolute; top: calc(50% - 13.5px); width: 100%; text-align: center">A</span>
            </div>
            <div class="unused mr-2"
                 style="position: relative; width: 40px; height: 40px; border: 2px solid var(--surface-400); border-radius: 40px;">
                <span style="position: absolute; top: calc(50% - 13.5px); width: 100%; text-align: center">T</span>
            </div>
            <div class="unknown mr-2"
                 style="position: relative; width: 40px; height: 40px; border: 2px solid var(--surface-400); border-radius: 40px;">
                <span style="position: absolute; top: calc(50% - 13.5px); width: 100%; text-align: center">E</span>
            </div>
        </div>
        <div class="mb-3">
            <span>The letter T is not in the word</span>
        </div>
    </div>
</p-dialog>
<p-confirmPopup></p-confirmPopup>
