<div [ngStyle]="{'max-width': 'calc(((' + getHeight() + 'px - 7px * ('+numberOfGuesses+' - 1)) / '+numberOfGuesses+') * '+letters+' + 7px * ('+letters+' - 1) - 20px)'}"
     class="board-container" id="board-container"
     style="position:relative;margin-inline: auto;">
  <div [ngStyle]="{'height': 'calc(((' + getWidth('board-container') + 'px - 7px * ('+letters+' - 1)) / '+letters+') * '+numberOfGuesses+' + 7px * ('+numberOfGuesses+' - 1))'}"
       class="fle w-full flex-column"
       style="position: relative;">
    <div *ngFor="let rowGuess of guesses; let row = index" class="relative flex w-full mb-2" id="board-row-{{row}}"
         style="height: calc((100%  - 7px * 5) / 6)">
      <i (click)="getDefinition(guessedWords[row])" *ngIf="currentGuess > row"
         class="fa-solid fa-book dict-icon"
         style="position: absolute; left: 105%; cursor: pointer"></i>
      <div *ngFor="let guess of rowGuess; let col = index" [ngClass]="{
                'present': guessResults[row][col] === 'present',
                'correct': guessResults[row][col] === 'correct',
                'unused': guessResults[row][col] === 'unused',
                'unknown': guessResults[row][col] === 'unknown',
                'reveal': guessResults[row][col] !== 'unknown'}" class="tile" id="board-tile-{{row}}-{{col}}"
           style="width: calc((100%  - 7px * 4) / 5)">
          <span
                  style="position: absolute; width: 100%; height: 100%; display: inline-flex; justify-content: center; align-items: center;">
            {{guess}}
          </span>
      </div>
    </div>
  </div>
</div>
