<div class="p-5 mx-auto main-container">
  <p-toolbar>
    <div class="p-3 w-full flex flex-column align-items-center">
      <div class="w-full p-3 pt-0">
        <div class="mb-2" style="text-align: end;height: 1rem">
          <span style="color: var(--text-color); height: 1rem">{{roomNotFoundMessage}}</span>
        </div>
        <div class="p-inputgroup">
          <span class="p-float-label">
            <p-inputNumber (onInput)="checkPinInput($event)" [maxlength]="4" id="pin-input"  [(ngModel)]="lobbyPinInput" class="p-inputtext-sm" [useGrouping]="false"></p-inputNumber>
            <label for="pin-input">Lobby Pin</label>
          </span>
          <button type="button" class="w-4" pButton pRipple label="Join" (click)="joinLobby()" [disabled]="!roomExists"></button>
        </div>
      </div>
      <div class="w-full p-3">
        <div class="p-inputgroup">
          <button type="button" class="w-full p-button-secondary" pButton pRipple label="Create Lobby" (click)="createLobby()"></button>
        </div>
      </div>
    </div>
  </p-toolbar>
</div>
<p-toast></p-toast>
