<div class="p-5 mx-auto main-container">
  <p-toolbar>
    <div class="p-3 w-full flex flex-column align-items-center">
      <div class="w-full p-3">
        <div class="p-inputgroup">
          <span class="p-float-label">
            <input id="name-input" [(ngModel)]="nicknameInput" type="text" class="p-inputtext-sm" pInputText>
            <label for="name-input">Nickname</label>
          </span>
        </div>
      </div>
      <div class="w-full p-3">
        <div class="p-inputgroup">
          <span class="p-float-label">
            <p-inputNumber [maxlength]="4" id="pin-input" [(ngModel)]="lobbyPinInput" class="p-inputtext-sm" [useGrouping]="false"></p-inputNumber>
            <label for="pin-input">Lobby Pin</label>
          </span>
          <button type="button" class="w-4" pButton pRipple label="Join" (click)="joinLobby()"></button>
        </div>
      </div>
      <div class="w-full p-3">
        <div class="p-inputgroup">
          <button type="button" class="w-full p-button-secondary" pButton pRipple label="Create Lobby" (click)="createLobby()"></button>
        </div>
      </div>
    </div>
  </p-toolbar>
</div>
