@import "~primeng/resources/themes/md-dark-indigo/theme.css";
:root{
  --secondary-color: var(--pink-300);
  --unused: #3A3A3C;
  --unknown: var(--surface-b);
  --correct: var(--secondary-color);
  --present: var(--primary-color);
  --unused-text: var(--text-color);
  --unknown-text: var(--text-color);
  --correct-text: var(--primary-color-text);
  --present-text: var(--primary-color-text);
}
