<div *ngIf="displayLobby" class="p-5 mx-auto main-container flex flex-column">
  <div class="p-5 h-full flex flex-column" style=" background-color: var(--surface-a); border-radius: 8px;">
    <div class="flex-column flex" style="height: 100%">

      <div class="w-full mb-3 text-6xl flex justify-content-center" style="color: var(--text-color)">
        <span *ngIf="gameState === 'waiting'" class="h-3rem">{{lobbyPin}}</span>
        <span *ngIf="gameState === 'starting'" class="h-3rem">Starting: {{startingCountdown}}</span>
      </div>
      <div class="flex-column flex h-full" style="position:relative;">
        <div class="h-full w-full text-4xl justify-content-between player-row" [ngClass]="player.status.toString()"
             *ngFor="let player of players; let i = index">
          <div class="flex align-items-center">
            <div>
              {{player.name}}
            </div>
            <i *ngIf="player.leader" class="pi pi-star ml-4" style="color: gold"></i>
          </div>
          <div *ngIf="i=== 0">
            <div *ngIf="player.status === 'ready'">
              <button type="button" class="w-full p-button-secondary p-button-danger" pButton pRipple label="Unready" (click)="unreadyUp()"></button>
            </div>
            <div *ngIf="player.status === 'notReady'">
              <button type="button" class="w-full p-button-secondary p-button-success" pButton pRipple label="Ready Up" (click)="readyUp()"></button>
            </div>
          </div>
          <div *ngIf="i !== 0">
            <div *ngIf="player.status === 'ready'" style="color: green">
              Ready
            </div>
            <div *ngIf="player.status === 'notReady'" style="color: red">
              Not Ready
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mt-5">
      <div class="p-inputgroup">
        <button type="button" class="w-full p-button-secondary" pButton pRipple label="Leave Lobby" (click)="leaveLobby()"></button>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
<div *ngIf="displayBasic" class="p-5 mx-auto main-container">
  <p-toolbar>
    <div class="p-3 w-full flex flex-column align-items-center">
      <div class="w-full p-3">
        <div class="p-inputgroup">
          <span class="p-float-label">
            <input id="nickname-input" pInputText [(ngModel)]="nickname" class="p-inputtext-sm" (keydown.enter)="joinLobby()" (ngModelChange)="nickname = $event.toUpperCase()">
            <label for="nickname-input">Nickname</label>
          </span>
        </div>
      </div>
      <div class="w-full p-3">
        <div class="p-inputgroup">
          <button type="button" class="w-full p-button-secondary" pButton pRipple label="Join Lobby" (click)="joinLobby()"></button>
        </div>
      </div>
    </div>
  </p-toolbar>
</div>
